<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "io suite">
    <test name = "Mobile suite">
        <classes>
            <class name="com.automation.mobile.tests.NavigationTest"></class>
            <class name="com.automation.mobile.tests.LoginTest"></class>
            <class name="com.automation.mobile.tests.SignUpTest"></class>
            <class name="com.automation.mobile.tests.SwipeTest" ></class>
        </classes>
    </test>
</suite>